
body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    color: azure;
    background-color: #1f80a4;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23005776' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.formulario{
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px 40px;
    border: 2px solid #ccc; 
    border-radius: 10px;
    color: #fff;
    }
  .formulario h1{
    text-align: center;
    margin-bottom: 20px;
}

.formula{
    padding: 20px 200px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

.formula div{
    margin-bottom: 20px;

}
.formula div label{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #e6e1ee;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}
.formula div input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    }


.olvidar{
    text-align: center;
}
.olvidar a{
    color: white;
    text-decoration: none;
    position: relative;
    margin-bottom: 10px;
    
}

.boton {
    width: 50%;
    margin: auto;
    
    transition: all 0,3s ease;
    
}
.boton input{
    cursor: pointer;
    
    
}

.registro{ 
    
    text-align: center;
}

.registro a{
    color: white;
    text-decoration: none;
    position: relative;
    margin-bottom: 10px;
    font-weight: 700;
    
    
}




     /* animaciones */

  .boton input:hover{
    background-color: #e6e1ee;
    color: #000;
    border: 1px solid #e6e1ee;
    box-shadow: 0 0 10px #e6e1ee;
    transition: all 0,3s ease;
    }
    .olvidar a::after{
        content: "";
        position: absolute;
        height: 2px;
        width: 0;
        bottom:0 ;
        left: 0;
        background-color: #97d81d;
        transition: all 0.3s ease;

    }
    .olvidar a:hover::after{
        width: 80%;
    }
    .olvidar a:hover:active{
        width: 100%;
        color: #97d81d;
    }

    .registro a::after{
        content: "";
        position: absolute;
        height: 2px;
        width: 0;
        bottom:0 ;
        left: 0;
        background-color: #97d81d;
        transition: all 0.3s ease;

    }
    .registro a:hover::after{
        width: 80%;
    }
    .registro a:hover:active{
        width: 100%;
        color: #97d81d;
    }



    @media(max-width : 700px){

        .formulario{
            max-width: 400px;
        }

        .formula{
            padding: 10px 100px;
        }


    }

    @media(max-width : 500px){
        .formulario{
            max-width: 200px;
            }
            .formula{
                padding: 20px 0px;
                }


    }


    /* Pagina sec */

    .Volver{
        
        padding: 10px;
        margin:0 auto;
        
        border-radius: 5px;
        border: 2px solid white;
        background: transparent;
        cursor:pointer;
        
    }

    
    .Volver a {
        color: white; 
        text-decoration: none;
    }

    .Volver:hover{
       
            background-color: #e6e1ee;
          
            border: 1px solid #e6e1ee;
            box-shadow: 0 0 10px #e6e1ee;
            transition: all 0,3s ease;
            }
            .Volver:hover a{
                color: #000;
                font-weight: 500;
                }


                .Volver{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
        



    

    
 